# Core numeric utils
numpy>=1.24
scipy>=1.10

# data tools 
#pandas>=2.0

# plotting (only if your scripts actually make charts)
#matplotlib>=3.8

# iRobot EDU SDK (import name: irobot_edu_sdk)
irobot_edu_sdk
